# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
myvenv/
venv/
.venv/

# Environment
.env

# Django
*.log
db.sqlite3
media/
staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db